@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'antd/dist/antd.css';

.anticon > svg {
	display: block !important;
	margin: auto !important;
	height: 100% !important;
}

.ant-collapse {
	background: #2b2d3e !important;
}

.ant-collapse-borderless {
	background: #2b2d3e !important;
}

.ant-collapse-item {
	border: none !important;
}

.ant-collapse-item-active {
	border: none !important;
}

.ant-collapse-header {
	color: white !important;
	font-weight: bold;
}

.ant-collapse-content {
	padding: 0px !important;
}

.ant-collapse-content-box {
	padding: 0px !important;
}

.ant-collapse-content-active {
	padding: 0px !important;
}

/* .ant-table-thead > tr > th {
	background: #2b2d3e !important;
	color: #ccc !important;
}

.ant-table-container {
	background: #2b2d3e !important;
	color: #ccc !important;
} */

@media (max-width: 560px) {
	.ant-picker-panels {
		flex-direction: column;
		align-items: center;
	}

	.ant-picker-range-arrow {
		margin-left: 120px !important;
	}

	.ant-picker-range-wrapper {
		display: flex;
		width: 100vw;
		justify-content: center;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* .apexcharts-tooltip-text {
	white-space: pre-wrap !important;
} */

.apexcharts-tooltip-text-y-label {
}

.apexcharts-tooltip-text-y-value {
}

/* This is for custom box */
.apexcharts-tooltip {
	border-radius: 12px !important;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1) !important;
}

#apexchartsRadarChart {
	white-space: pre-wrap !important;
	text-align: center !important;
}
